# Homework Starter â€” Stage 6: Data Preprocessing
Sparsh Patel 08/19/2025

We start by importing the encessary libraries

In [3]:
import pandas as pd
from src import cleaning

## Load Raw Dataset

In [52]:
import os
os.chdir('/Users/sparshpatel/bootcamp_sparsh_patel/homework/homework6')
print(os.getcwd())

/Users/sparshpatel/bootcamp_sparsh_patel/homework/homework6

Make sure that we are in the proper directory

In [41]:
df = pd.read_csv('/Users/sparshpatel/bootcamp_sparsh_patel/homework/homework6/data/raw/raw_data3.csv')
df.head()

,Symbol,Name,Unnamed: 2,Price,Change,Change %,Volume,Avg vol (3m),Market cap,P/E Ratio(TTM),52 WkChange %,52 Wk range
0,OPEN,Opendoor Technologies Inc.,NaN,49,0.13,4.28%,419.367M,199.65M,2.333B,NaN,61.73%,NaN
1,INTC,Intel Corporation,NaN,31,0.70,2.93%,310.161M,92.134M,107.499B,NaN,14.13%,NaN
2,NVDA,NVIDIA Corporation,NaN,56,-1.57,-0.86%,156.602M,182.258M,4.401T,58.21,38.81%,NaN
3,NU,Nu Holdings Ltd.,NaN,84,1.09,9.08%,130.401M,63.181M,63.304B,27.87,-9.34%,NaN
4,WULF,TeraWulf Inc.,NaN,68,0.26,2.99%,108.16M,51.801M,3.518B,NaN,106.21%,NaN

Here, I have taken the scraped table from project 4, which was done through beautifulsoup

## Apply Cleaning Functions

In [60]:
df_cleaned = df.copy()

Made a copy of the original data set

In [61]:
df_cleaned=df_cleaned.drop(columns=['Unnamed: 2','52 Wk range'])
print("Dropped columns: Unnamed: 2 and 52 Wk range")

Dropped columns: Unnamed: 2 and 52 Wk range

In [48]:
df_cleaned = cleaning.fill_missing_median(df, ['P/E Ratio(TTM)'])

Filled 13 missing values in 'P/E Ratio(TTM)' with median: 31.48

In [49]:
df_cleaned['P/E Ratio(TTM)'].isna().sum()

0

We can see that all the null values havee been dropped

In [44]:
df_cleaned = cleaning.drop_missing(df, threshold=0.7)

Dropped 0 rows with <70.0% non-null values

In [45]:
df_cleaned = cleaning.normalize_data(df, ['Price','Change'])

Normalized 'Price' to range [0, 1]
Normalized 'Change' to range [0, 1]

In [57]:
print("COMPARISON: Original vs Cleaned")
print("=" * 40)
print(f"Shape: {df.shape} -> {df_cleaned.shape}")
print(f"Missing values: {df.isna().sum().sum()} -> {df_cleaned.isna().sum().sum()}")

print("\nMissing values by column:")
print("Original:")
print(df.isna().sum()[df.isna().sum() > 0])
print("\nCleaned:")  
print(df_cleaned.isna().sum()[df_cleaned.isna().sum() > 0])

print("\nSample statistics (before/after):")
for col in ['Price', 'Change']:
    if col in df.columns and col in df_cleaned.columns:
        print(f"{col}: {df[col].mean():.2f} -> {df_cleaned[col].mean():.2f}")

COMPARISON: Original vs Cleaned
========================================
Shape: (25, 12) -> (25, 10)
Missing values: 63 -> 0

Missing values by column:
Original:
Unnamed: 2        25
P/E Ratio(TTM)    13
52 Wk range       25
dtype: int64

Cleaned:
Series([], dtype: int64)

Sample statistics (before/after):
Price: 52.36 -> 52.36
Change: 0.62 -> 0.62

We can see here that all the missing values have been cleaned. And the Price and change values have been normalised

## Save Cleaned Dataset

In [54]:
df.to_csv('/Users/sparshpatel/bootcamp_sparsh_patel/homework/homework6/data/processed/sample_data_cleaned.csv', index=False)

Successfully saved the data set to the data processed folder.